@import './stylesheet.css';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
button {
    border: none;
    background: none;
    transition: all .6s ease;
}
button:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
    transition: all .3s ease;
}



.container {
    max-width: 1060px;
    padding: 0 10px;
    margin: 0 auto;
}
.grid {
    display: grid;
}
.row {
    display: flex;
}
.col-4 {
    width: 33.33333%;
}
.sunset_btn {
    /* sunset-color */
    background: #FFA62B;
    /* light-text-color */
    color: #FFFFFF;
    /* sunset-border-color */
    border: solid 1px #FFA62B;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.2px;
}
.sunset_btn:hover {
    /* hover-color */
    color: #FFA62B;
    background: #FFFFFF;
}
.ocean_btn {
    /* ocean-color */
    color: #00A0C1;
    background: #fafafa;
    border: solid 1px #00A0C1;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    text-align: center;
    letter-spacing: 0.2px;
}
.ocean_btn:hover {
    color: #fafafa;
    background: #00A0C1;
}
.section_title {

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    /* identical to box height, or 142% */

    text-align: center;
    letter-spacing: 0.2px;

    /* text-color */
    color: #252B42;
}
.section_text {
    margin-top: 10px;
    width: 511px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}



/* HERO */
.hero {
    position: relative;
    height: calc(100vh - 184px);
    background-image: url("../images/hero/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-top: 184px;
}
.hero_container_top-side {
    display: flex;
    flex-direction: column;
}
.hero_title {
    width: 509px;
    height: 160px;

    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    /* or 138% */

    letter-spacing: 0.2px;

    /* text-color */
    color: #252B42;
}
.hero_text {
    width: 376px;
    height: 60px;
    margin: 35px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    letter-spacing: 0.2px;

    /*text-color */
    color: #737373;
}
.hero_buttons {
    display: flex;
}
.hero_btn {
    padding: 10px 36px;
    border-radius: 37px;
}
.hero_get-quote_btn {
    margin-right: 10px;
}
.hero_bottom-side_grid {
    max-width: 1060px;
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -19px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.hero_card {
    height: calc(210px - 78px);
    padding: 43px 0  35px 40px;

    background-color: #FFFFFF;

    /* SHADOW */
    /*box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);*/

    transition: all .6s ease;

    /* SHADOW */
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}
.hero_card:hover {
    background: #00A0C1;
}
.hero_card:hover svg {
    fill: #FFFFFF;
    /*transition: all ease .3s;*/
}
.hero_card:hover .hero_card_title {
    color: #FFFFFF;
}
.hero_card:hover .hero_card_text {
    color: #FFFFFF;
}
.hero_card svg{
    fill: #00A0C1;
    /*transition: all .3s ease;*/
}
.hero_card_title {
    margin: 10px 0;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    letter-spacing: 0.1px;

    /* text-color */

    color: #252B42;
}
.hero_card_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;
}



/* HEADER */
.header {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.header_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.div_logo {
    margin-right: 117px;
}
.header_nav_item {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;
}
.header_nav_item:hover {
    color: #FFA62B;
}
.header_nav_item:not(:last-child) {
    margin-right: 15px; /* There is already 6px between items (15px + 6px = 21px) */
}



.menu-btn {
    position: absolute;
    right: -106px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    transform: rotateY(180deg);
    transition: all .3s ease;
}
.menu-btn:hover {
    cursor: pointer;
}
.menu-btn:hover .menu-btn_burger,
.menu-btn:hover .menu-btn_burger::before,
.menu-btn:hover .menu-btn_burger::after {
    background: #FFA62B;
}
.menu-btn_burger {
    width: 17px;
    height: 2px;
    background: #252B42;

    transition: all .3s ease;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    height: 2px;
    background: #252B42;

    transition: all .3s ease;
}
.menu-btn_burger::before {
    width: 23px;
    transform: translateY(-4px);
}
.menu-btn_burger::after {
    width: 11px;
    transform: translateY(4px);
}



/* FEATURES */
.features {
    padding: 211px 0 80px 0;
    background: #FAFAFA;
}
.features_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features_cards_grid {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
}
.features_cards_div {
    padding-top: 50px;
}
.features_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 209px;

    background: #FFFFFF;

    transition: all .6s ease;
}
.features_card:hover {
    background: #00A0C1;
}
.features_card:hover svg {
    fill: #FFFFFF;
}
.features_card:hover .features_card_title {
    color: #FFFFFF;
}
.features_card:hover .features_card_small-title {
    color: #FFFFFF;
}
.features_card svg {
    fill: #00A0C1;
}
.features_card_small-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1px;
    text-transform: uppercase;

    /* second-text-color */
    color: #737373;
}



/* ADVICE */
.advice {
    background: #FAFAFA;
    padding: 125px 0 100px 0;
}
.advice_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advice_grid {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
}
.advice_text {
    margin-bottom: 45px;
}
.advice_card {
    height: 342px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #FFFFFF;
}
.advice_card:hover {
    background: #00A0C1;

    transition: all .6s ease;
}
.advice_card:hover .advice_card_title,
.advice_card:hover .advice_card_text {
    color: #FFFFFF;
}
.advice_card_text-part {
    padding: 30px 0 0 29px;
}
.card_title {
    width: 130px;
    margin-bottom: 15px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.1px;

    /* text-color */

    color: #252B42;
}
.card_text {
    width: 179px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;
}



/* CONTACT */
.contact {
    padding: 80px 0 148px 0;
    background: #F3F3F3;
}
.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_grid {
    grid-template-columns: repeat(3, 1fr);
}
.contact_bottom-side {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_card_animation_div {
    height: 393px;

    display: flex;
    align-items: center;
}



.contact_card {
    width: 328px;
    /*height: 333px;*/
    padding: 50px 0;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all .6s ease;
}
.contact_middle_card {
    padding: 80px 0;
    /*height: 100%;*/

    /* dark-background-color */
    background: #252B42;
}
.contact_middle_card .contact_card_img svg {
    fill: #FFFFFF;
}
.contact_middle_card .contact_card_email,
.contact_middle_card .contact_card_title {
    color: #FFFFFF;
}
.contact_middle_card .contact_card_button {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.contact_card:hover {
    padding: 80px 0;
    /*height: 100%;*/

    /* dark-background-color */
    background: #252B42;
}
.contact_side_card:hover svg {
    fill: #FFFFFF;
}
.contact_side_card:hover .contact_card_email,
.contact_side_card:hover .contact_card_title {
    color: #FFFFFF;
}
.contact_side_card:hover .contact_middle_card {
    padding: 50px 0;
    background: #FFFFFF;
}
.contact_side_card:hover .contact_card_button {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.contact_card_img svg {
    fill: #00A0C1;
}
.contact_card_emails_div {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_card_email {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    letter-spacing: 0.2px;

    /* text-color */
    color: #252B42;
}
.contact_card_title {
    text-align:center;
}
.contact_card_button {
    padding: 10px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.2px;

    /* primary-color */
    color: #FFA62B;

    border: solid 1px #FFA62B;
    border-radius: 5px;
}
.contact_card_button:hover {
    color: #FFFFFF;
    background: #FFA62B;
}



/* ABOUT */
.about {
    background: #FFFFFF;
    padding: 100px 0;
}
.about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_title {
    width: 473px;
}
.about_text {
    margin-top: 15px;
}
.about_bottom-side {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.about_bottom_side_video {
    position: relative;
}
.about_svg_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.about_bottom-side_right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.about_bottom-side_title {
    width: 324px;
    text-align: left;
}
.about_bottom-side_text {
    width: 330px;
    height: 60px;

    margin-bottom: 50px;

    /* paragraph */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: left;
    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}
.about_bottom-side_card_grid {
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}
.about_bottom-side_card {
    padding-left: 53px;
}
.about_bottom-side_card_1 {
    background-image: url("../images/about/about_card_svg1.svg");
    background-repeat: no-repeat;
}
.about_bottom-side_card_2 {
    background-image: url("../images/about/about_card_svg2.svg");
    background-repeat: no-repeat;
}
.about_bottom-side_card_title {
    width: 277px;
    margin-bottom: 5px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.1px;

    /* text-color */
    color: #252B42;
}
.about_bottom-side_card_text {
    width: 222px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}



/* CLIENTS */
.clients {
    padding-top: 50px;
    height: 262px;

    background: #FAFAFA;
}
.clients_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* NEWSLETTER */
.newsletter_background {
    position: relative;
    height: 77px;

    /* dark-background-color */
    background: #252B42;
}
.newsletter {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 888px;
    height: 124px;
    padding: 0 49px;

    /* secondary-color-2 */
    background: #16697A;
    border-radius: 2px;
}
.newsletter_title {
    width: 258px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    letter-spacing: 0.1px;

    /* light-text-color */
    color: #FFFFFF;
}
.newsletter_form {
    display: flex;
}
.newsletter_form_input_email {
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;

    height: 58px;
    width: 333px;
    padding-left: 20px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    letter-spacing: 0.2px;

    /* second-text-color */

    color: #252B42;
}
.newsletter_form_input_email::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;
}
.newsletter_form_btn {
    /* primary-color */
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;

    height: 58px;
    padding: 0 22.5px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;
}
.newsletter_form_btn:hover {
    color: #FFA62B;
    background: #F9F9F9;
    border-color: #FFA62B;
}



/* CONSULTING */
.consulting {
    padding: 40px 0;
}
.consulting_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.consulting_left-side {
    display: flex;
    flex-direction: column;
}
.consulting_title {
    margin-bottom: 10px;
}
.consulting_btn {
    padding: 14px 39px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;

    /* primary-color */
    background: #FFA62B;
    border: solid 1px #FFA62B;
    border-radius: 5px;
}
.consulting_btn:hover {
    background: #FFFFFF;
    color: #FFA62B;
}



/* TOP FOOTER */
.top_footer {
    background: #16697A;
    padding: 51px 0;
}
.top_footer_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-column-gap: 30px;
}
.top_footer_div {
    display: flex;
    flex-direction: column;
}
.top_footer_title {
    margin-bottom: 20px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1px;

    /* light-text-color */
    color: #FFFFFF;
}
.top_footer_link_nav {
    display: flex;
    flex-direction: column;
}
.top_footer_link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.2px;

    /* light-text-color */
    color: #FFFFFF;
}
.top_footer_link:hover {
    cursor: pointer;
    color: #252B42;
}
.top_footer_link:not(:last-child) {
    margin-bottom: 10px;
}



/* BOTTOM FOOTER */
.footer {
    padding: 25px;
}
.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.2px;

    /* second-text-color */
    color: #737373;
}
.footer_icons {
    display: flex;
}
.footer_icon {
    transition: all .6s ease;
}
.footer_icon:not(:last-child) {
    margin-right: 20px;
}
.footer_icon:hover {
    transform: rotate(360deg);
}
.fab {
    font-size: 24px;
}
.fa-facebook-square {
    color: #335BF5;
}
.fa-instagram {
    color: #E61F5A;
}
.fa-twitter {
    color: #21A6DF;
}
.fa-youtube {
    color: #E42F08;
}